{
  "presets": [
    "react",
    [
      "env"
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ],
  "env": {
    "dev": {
      "presets": [
        "react",
        [
          "env"
        ]
      ],
      "plugins": [
        "react-hot-loader/babel"
      ]
    }
  }
}
